@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&family=Overpass:wght@400;700&family=Red+Hat+Display:wght@300;400;500;700;900&family=Roboto:wght@100;300;400;500;700;900&display=swap");
:root {
  --color: rgb(75, 65, 161);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Red Hat Display", "Outfit", "Overpass", "Inter", "Roboto",
    sans-serif;
}
body {
  overflow-x: hidden;
}
li {
  list-style: none;
}

a {
  text-decoration: none;
}
/****************************
*      Navigation style     *
*****************************/
header {
  height: fit-content;
}
nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1rem 5rem;
  position: absolute;
  z-index: 10;
  color: white;
}
/* Navigaltion logo/ brand */
nav h3 {
  font-size: 1rem;
  font-weight: 600;
  font-variant: small-caps;
  cursor: pointer;
}
/* Nav links */
.navlinks {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.navlinks a {
  font-size: 0.8rem;
  color: white;
}
.hamburger {
  display: none;
}
/***************************
 *    Landing carousel     *
 ***************************/
.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
}
.mySlides {
  display: none;
}
.mySlides img {
  width: 100%;
  height: inherit;
  max-height: 100vh;
  object-position: center;
  object-fit: cover;
}
.text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  /* border: 1px solid white; */
  padding: 2rem 0rem;
}
.text h2 {
  font-size: 3rem;
  font-variant: small-caps;
  opacity: 0.8;
}
.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

/*********************************
*      Body infinite slider      * 
**********************************/

.slider {
  display: flex;
  width: 200%;
  /* background: rgb(91, 93, 110); */
  animation: bannermove 20s linear infinite;
  padding: 1.5rem;
}

.slider-container {
  width: 100%;
}

.slider-imgs {
  display: flex;
  list-style-type: none;
  padding-left: 0;
  margin: 0;
  gap: 1.5rem;
}
.slider-imgs img {
  display: block;
  /* width: 110%; */
  height: 150px;
  border-radius: 1rem;
  object-fit: cover;
  object-position: top;
}

.cardhr {
  padding: 3rem 4rem;
}
.card-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: .5rem;
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  max-width: 100%;
  gap: .5rem;
}
.grid-container .card img{
  max-width: 250px;
  object-fit: cover;
  object-position: top;
}
/* footer */
footer {
  display: flex;
  background-color: var(--color);
  justify-content: center;
  align-items: center;
  padding: 3rem 4rem;
}

footer ol {
  display: flex;
  gap: 1rem;

}

ol li {
  font-variant: small-caps;
  color: #ffffff;
}

ol li a {
  color: #ffffff;
  font-variant: normal;
}
/***************************************
*     Animations and media queries     *
****************************************/
@media only screen and (max-width: 300px) {
  .text {
    font-size: 11px;
  }
  @keyframes fade {
    from {
      opacity: 0.4;
    }
    to {
      opacity: 1;
    }
  }
}
@keyframes bannermove {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
@media screen and (max-width: 700px) {
  nav {
    border: none;
    background: var(--bgcolor);
    height: 10vh;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
  }

  .nav-container {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
  }

  h3.logo {
    position: absolute;
    top: 1rem;
    left: 1rem;
    color: #ffffff;
    z-index: 1;
    font-size: 1.3rem;
    width: fit-content;
  }

  .navlinks {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    width: 100%;
    background-color: var(--color);
    height: 100vh;
    padding: 0;
    transform: translateY(-100%);
    transition: all 1s ease;
  }

  /* Make Nav slide down when clicked */
  .active {
    transform: translateY(0);
  }

  .navlinks a {
    color: white;
  }

  .hamburger {
    width: 2rem;
    height: 1.5rem;
    position: absolute;
    top: 1rem;
    right: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
    z-index: 10;
  }

  .hamburger span {
    background-color: rgb(255, 255, 255);
    height: 1.2px;
    width: 100%;
  }
  .text h2 {
    font-size: 1.5rem;
  }
  .grid-container {
    display: grid;
    grid-template-columns: auto auto;
    max-width: 100%;
    gap: .5rem;
  }
  .grid-container .card img{
    max-width: 200px;
  }
  .cardhr {
    padding: 3rem 1rem;
  }
}
@media screen and (max-width: 500px) {
  .grid-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .grid-container .card{
    width: 90vw;
  }
  .grid-container .card img{
    width: 100%;
    object-fit: cover;
    object-position: top;
  }
}